<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div> 
                <a href=""><img src="../../../assets/linkedin.png" alt="Linkedin"> </a>
                <a href="https://twitter.com/maxivinuesaa"><img src="../../../assets/twitter.png" alt="Twitter"> </a>
                <a href="https://www.instagram.com/maxivinuesa/"><img src="../../../assets/instagram.png" alt="Instagram"> </a>
                <a href="https://github.com/"><img src="../../../assets/github.png" alt="Github"> </a>
                <a href="https://www.facebook.com/profile.php?id=100008339613649"><img src="../../../assets/facebook.png" alt="Facebook"> </a>
                <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
            </div>
        </div>
    </div>
</div>
