<div class="row"> 
    <h1> Educación </h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11"> 
        <ul>
            <li>

                <h1>Estudios Secundario</h1> - 
                
                <h3> (7 años)</h3>

            </li>

            <p> Termine mis estudios secundarios el año 2022 y me recibi con el titulo de: Técnico Electromecanico En Instalaciones Electricas </p>

        </ul>

        <ul>
            <li>

                <h1>Curso 1 (Argentina Programa #SeProgramar) </h1> - 
                
                <h3> </h3>

            </li>

            <p> <a href="https://mumuki.io/argentina-programa/certificates/download/OCpt1Aqq85EpZPGd"> CERTIFICADO </a>  </p>

        </ul>

        <ul>
            <li>

                <h1> Curso 2 (Ingles) </h1> - 
                
                <h3> </h3>

            </li>

            <p> <a href="https://api.cuiweb.edu.ar/certificadosprogra/0020_00051996_01261372_1_0"> CERTIFICADO </a> </p>

        </ul>


        <ul>
            <li>

                <h1> Curso 3 (Operario de computadora (Word, excel)) </h1> - 
                
                <h3> </h3>

            </li>

            <p> Curso capacitación operario de computadora (Word, excel) <a href="../CURSOS/certificado_wc5nKeHP7BR9ZulPBX0_maxivinuesa5.pdf" download> CERTIFICADO </a> </p>

        </ul>


    </div>

</div>