<div class="row">
    <h1> Proyectos Realizados </h1>
    <div class="contenedor"> 
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3> Nombre Del Proyecto </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum temporibus saepe perspiciatis dolorum. Cum officiis eligendi quos ipsam eveniet vero sint. Saepe at, cum nisi harum laudantium rerum fugit dignissimos?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectofalsoo.png" class="img-fluid img-proyecto">  
        </div>

    </div>
</div>